<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>브로컬리 :: 내일의 장보기, 브로컬리</title>
    {% endif %}
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://img-cf.kogoon.me/css/style.css" />
    <script src="https://img-cf.kogoon.me/js/modal.js" defer></script>
    <script src="https://img-cf.kogoon.me/js/dropdown.js" defer></script>
    <script src="https://img-cf.kogoon.me/js/main-slide.js" defer></script>
    <script src="https://img-cf.kogoon.me/js/full-slide.js" defer></script>
    <script src="https://img-cf.kogoon.me/js/half-slide.js" defer></script>
    <script src="https://img-cf.kogoon.me/js/md-category.js" defer></script>
    <script src="https://img-cf.kogoon.me/js/quickmenu.js" defer></script>
    <script src="https://img-cf.kogoon.me/js/timer.js" defer></script>
  </head>