    <!-- header -->
    <header class="header">
        <div class="header-contents">
          <div class="delivery-image">
          </div>
          <ul class="customers-items">
            {% if g.user %}
            <li class="sign-up-item">
              안녕하세요.
            </li>
            <li class="sign-up-item">
              <a href="#">로그아웃</a>
            </li>
            <li class="sign-up-item">
              <a href="#">마이페이지</a>
            </li>
            {% else %}
            <li class="sign-up-item">
              <a href="#">회원가입</a>
            </li>
            <li class="sign-in-item">
              <a href="#">로그인</a>
            </li>
            {% endif %}
            <li class="service-center-item">
              <a href="#">고객센터</a>
              <button type="button" class="service-center-icon"></button>
              <ul class="service-center-detail">
                <li>
                  <a href="#">공지사항</a>
                </li>
                <li>
                  <a href="#">1:1 문의</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
  
        <div class="logo-image">
          <a href="#">
            <img src="https://img-cf.kogoon.me/assets/broccoli.png" alt="Bro Kurly" />
          </a>
        </div>
        
  
      </header>